@import 'variables';
@import 'fonts';
@import 'layouts';
@import 'link';

@media screen and (prefers-reduced-motion: reduce) {
  * {
      /* Very short durations means JavaScript that relies on events still works */
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
  }
}

// * {
//   box-sizing: border-box;
// }

// html {
//   font-size: $fontSize;
//   @include since-tablet-size {
//     font-size: 17px;
//   }
// }

// body {
//   margin: 0;
//   padding: 0;

//   font-family: "Ubuntu";
//   font-weight: normal;
// }

// h1 {
//   margin: 0;
//   padding: 0 0 2rem 0;

//   font-size: 3rem;

//   white-space: nowrap;

//   background: linear-gradient(to bottom, $secondaryColor 10%, $accentColor 45%);
//   background-clip: text;
//   -webkit-background-clip: text;
//   -webkit-text-stroke: 0.15rem transparent;
//   color: $primaryColor;

//   text-align: center;

//   @include since-tablet-size {
//     font-size: 6rem;
//     -webkit-text-stroke: 0.2rem transparent;
//   }

//   @include since-computer-size {
//     font-size: 10rem;
//   }
// }

// h2 {
//   margin: 0;
//   padding: 0;
//   margin-top: -4rem;

//   font-size: 2.5rem;
//   white-space: nowrap;

//   color: $primaryColor;

//   text-align: center;

//   @include since-tablet-size {
//     margin-top: -5.5rem;
//     font-size: 4rem;
//   }

//   @include since-computer-size {
//     margin-top: -7rem;
//     font-size: 6rem;    
//   }
// }

// .noscript {
//   padding: 10px;
// }