.page-home {
  .paragraph-contact {
    text-align: center;
  }

  .box-context {
    width: 250px;
    min-height: 230px;

    margin: 0;
    margin-bottom: 20px;

    .size(pc; {
      width: 290px;
    });

    &--light {
      background-color: #ffffff;
    }
  }

  .paragraph-about-me {
    text-align: left;
    margin: 0;
  }

  .link {
    font-weight: bold;
  }

  .about-me-content {
    width: 290px;
    justify-content: center;

    .size(tablet; {
      gap: 0 20px;

      width: 100%;
      min-height: 500px;
      max-width: 550px;
    });

    .size(pc; {
      gap: 0 20px;

      width: 100%;
      max-width: 610px;
    });
  }
}

@import (optional) "@shared/less/variables.less";